
body {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    color: #333;
    padding-left: 25px;
    padding-right: 25px;
}

img {
    max-width: 100%; /* las imágenes no saldrán de su caja */
    height: auto; /* mantiene la proporción alto/ancho de la imagen */
    
}


header {
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    width: 100%;
    min-height: 50px; 
    padding: 20px 25px;
}

footer {
    text-align: center;
    padding: 20px; 
    background-color: #333; 
    color: white; 
    margin-top: 20px;
    font-size: 24px;
}

.cabecera {
    display: box;
    margin-block-end: 3px;
}

.cabecera h1 {
    margin: 0;
    font-size: 1.9em;
    text-align: center;
}

#fotohead{
    width: 363px;
    max-height: 364px;
} 

.textos_seccion{
    padding-left: 10px;
    font-size: 35px;
    letter-spacing: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
}

.texto_detalles{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding-left: 10px;
    letter-spacing: normal;
    color: rgb(26, 24, 24);
}