
nav {
    background-color: #333; 
    align-self: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    display: block;
    margin-block-end: 24px;
}

nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; 
    margin: 0; /* Quita el margen por defecto de la lista */
    display: flex; /*Pone los <li> en una fila horizontal */
    justify-content: center; 
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none; /* Quita el subrayado por defecto de los enlaces */
    font-weight: bold;
    padding: 9px;
    display: block;
}